
.wrap-product-detail .detail-top h3 { color:#000; }
.wrap-product-detail .detail-top table { width:100%; border-collapse: collapse; border:1px solid #c6c6c6; }
.wrap-product-detail .detail-top table th { font-weight:normal; color:#919191; text-align:left; background:#e4e4e4; border-bottom:1px solid #c6c6c6;  }

.wrap-product-detail .detail-top table td { border-bottom:1px solid #c6c6c6; color:#4b4b4b; }

.wrap-product-detail .detail-info { text-align:center; }
.wrap-product-detail .detail-info h3 {  font-family: Arial; display:inline-block; letter-spacing: -1px; border-bottom:2px solid #000; }
.wrap-product-detail .detail-info .txt { color:#999; }
.wrap-product-detail .detail-info .txt strong { color:#000; }

.wrap-product-detail .tab {  overflow:hidden; background:url('../img/detail/bg_tab.png') left bottom repeat-x; }
.wrap-product-detail .tab a { text-align:center; background:#eee; color:#989898; border:3px solid #b4b4b4; border-bottom:0; }
.wrap-product-detail .tab a.on { background:#fff; color:#000; border-color:#000; }


.wrap-product-detail .detail-top .like { color:#a6a6a6; }
.wrap-product-detail .detail-top .like img { vertical-align:middle; margin-top:-2px; }

.wrap-product-detail .detail-top .price,
.wrap-product-detail .detail-top .name { font-weight:bold; color:#000; }

.wrap-product-detail .detail-top .btn a { display:block;  text-align:center; background:#ffffff; }
.wrap-product-detail .detail-top .btn img { vertical-align:middle; margin-top:-2px; }
.wrap-product-detail .detail-top .btn-modify { border:1px solid #f44336; color:#f44336; }
.wrap-product-detail .detail-top .btn-del { border:1px solid #000; color:#000; }
.wrap-product-detail .detail-top .btn-state { border:1px solid #bdbdbd; color:#bdbdbd; }
.wrap-product-detail .detail-top .layer-state { position:absolute; right:0; width:100%; background:#f3f3f3; }
.wrap-product-detail .detail-top .layer-state .arrow { position:absolute; display:block;  background:url('../img/detail/ico_arrow.png') no-repeat;}

.wrap-signup { margin:0 auto; }
.wrap-signup h2 { text-align:center; }
.wrap-signup table { width:100%; border-collapse: collapse;}
.wrap-signup th { color:#696969; text-align:left; border-bottom:1px solid #bbb; font-weight:normal;  }
.wrap-signup td { color:#000; text-align:left; border-bottom:1px solid #bbb;  }
.wrap-signup .btn-submit { width:100%; color:#fff; text-align:center; background:#f44336; border:0; }
.wrap-signup .input-txt { position:relative; }
.wrap-signup .input-txt input { width:100%; border:0; }
.wrap-signup .input-txt .msg { color:#f44336; background:#fff; }
.wrap-signup .input-txt p { text-align:center; color:#343434; }
.wrap-signup .input-text { border:1px solid #cfcfcf; vertical-align: middle; }
.wrap-signup select { width:100%; border:1px solid #bbb; -webkit-appearance: none; background:url('../img/signup/ico_arrow_select.png') right center  no-repeat; }
.wrap-signup select::-ms-expand {
    display: none;
}
.wrap-signup .txt-address img {  vertical-align:middle; }
.wrap-signup .input-text-adress { width:100% !important; border:1px solid #929292; }
.wrap-signup .check-agree { text-align:right; }

.wrap-product-reg .title h3 { color:#343434; border-bottom:1px solid #bbb;  }
.wrap-product-reg h4 { color:#343434;  }
.wrap-product-reg em { color:#f44336; font-style: normal;}
.wrap-product-reg .photo {position:relative; }
.wrap-product-reg .img { position:absolute; }
.wrap-product-reg .edit button { border:0; color:#fff; background:#f44336;}
.wrap-product-reg .edit p { color:#f44336;}
.wrap-product-reg .table table { width:100%; border-collapse: collapse; border-spacing:0; }
.wrap-product-reg .table th { text-align:left; color:#000; border-bottom:1px solid #b9b9b9}
.wrap-product-reg .table td { text-align:left; color:#343434; border-bottom:1px solid #b9b9b9}
.wrap-product-reg .table td .input-txt { color:#343434; }
.wrap-product-reg .input-textarea { border:1px solid #b9b9b9; resize:none; }
.wrap-product-reg .btns { width:100%; overflow:hidden; }
.wrap-product-reg .btns a { text-align:center; }
.wrap-product-reg .btn-modify { color:#fff;  border:1px solid #000; background:#000; }
.wrap-product-reg .btn-del { color:#9b9191; bordeR:1px solid #979797; background:#fff; }
.wrap-product-reg .btn-add { color:#fff; font-weight:bold; background:#f44336;  }


/*-----------------------------------------
            @media - mobile
-------------------------------------------*/
@media all and (max-width:798px)  {
  .wrap-product-detail img { width:100%; }


  .top-info { margin-bottom:40px; }

  .wrap-product-detail .detail-info { padding:36px 0 74px 0; margin:0 auto; }
  .wrap-product-detail .detail-info h3 { margin-bottom:15px; font-size:15px; border-bottom:2px solid #000 }
  .wrap-product-detail .detail-info .txt { padding:0 20px; margin-bottom:30px; line-height:2; font-size:12px; }
  .wrap-product-detail .detail-info .txt strong { color:#000; }
  .wrap-product-detail .detail-info .img img{ max-width:100%; }

  .wrap-product-detail .tab { height:26px; margin:0 30px; background-size:1px 1px; }
  .wrap-product-detail .tab span { float:left; width:50%; }
  .wrap-product-detail .tab a { display:block; height:24px; font-size:12px; line-height:24px; border-width: 1px; }
  .wrap-product-detail .tab a.on { background:#fff; color:#000; border-color:#000; height:25px; }


  .wrap-product-detail .detail-top .table { padding:0 30px; }
  .wrap-product-detail .detail-top h3 { margin-bottom:6px; font-size:13px; }
  .wrap-product-detail .detail-top table { font-size:11px; }
  .wrap-product-detail .detail-top table th { width:70px; padding:5px 10px; font-weight:normal; color:#919191; text-align:left; background:#e4e4e4; border-bottom:1px solid #c6c6c6;  }
  .wrap-product-detail .detail-top table td { padding:5px 10px; }

  .wrap-product-detail .detail-top .like { padding:10px; font-size:13px; }
  .wrap-product-detail .detail-top .like img { width:20px; height:20px; }
  .wrap-product-detail .detail-top .name { float:left;  font-size:16px; }
  .wrap-product-detail .detail-top .price-info { position:relative; overflow: hidden;  margin-top:-5px; padding:0 100px 12px 10px; }
  .wrap-product-detail .detail-top .price {  position:absolute; right:10px; top:0;  }
  .wrap-product-detail .detail-top .btns { position:relative; padding:5px 2px; margin-bottom:45px; background:#ddd; }
  .wrap-product-detail .detail-top .btns:after { content:''; display:block; clear:both; }
  .wrap-product-detail .detail-top .btn {  float:left; width:33.3%; }
  .wrap-product-detail .detail-top .btn a { height:48px; line-height:48px; margin:0 3px; font-size:13px; }
  .wrap-product-detail .detail-top .btn img { width:14px; height:14px;  }
  .wrap-product-detail .detail-top .layer-state { top:60px; font-size:11px; text-align:left; }
  .wrap-product-detail .detail-top .layer-state .text { padding:6px 16px; display:block;}
  .wrap-product-detail .detail-top .layer-state .arrow {
    position:absolute; right:15%; top:-6px; width:16px; height:6px; background-size:auto 6px; }



  .wrap-signup { padding:55px 20px 20px 20px; }
  .wrap-signup h2 { margin-bottom:20px }
  .wrap-signup h2 img { height:32px; width:auto; }
  .wrap-signup th { width:100px; padding:15px 0; font-size:12px; }
  .wrap-signup td { padding:15px 10px; }
  .wrap-signup .btn-submit { margin:20px 0 70px 0; height:56px; line-height:56px; font-size:24px; }
  .wrap-signup .input-txt { position:relative; min-height:40px; margin:-15px 0}
  .wrap-signup .input-txt input { height:40px; line-height:40px; font-size:13px; }
  .wrap-signup .input-txt .msg { display:block; font-size:11px; line-height:13px; margin-top:-13px; }
  .wrap-signup .input-text { height:22px; line-height:22px; font-size:13px; width:57px; }
  .wrap-signup .input-text-lg { height:22px; line-height:22px; font-size:13px; width:70px; }
  .wrap-signup .input-text-dbl { height:22px; line-height:22px; font-size:13px; width:104px; }
  .wrap-signup .txt-address span { display:inline-block; margin-right:5px; font-size:13px; }
  .wrap-signup .txt-address .btn-address { height:20px; width:auto; }
  .wrap-signup .input-text-adress { margin-top:10px; }
  .wrap-signup .txt-agree { padding:30px 0 10px 0; text-align:left; font-size:13px; }
  .wrap-signup select { text-indent:10px; font-size:13px; background-size:10px auto; }
  .wrap-signup .select-s { width:57px; height:22px; line-height:22px; vertical-align: middle; }
  .wrap-signup .select-m { width:80px; height:22px; line-height:22px; vertical-align: middle; }
  .wrap-signup .check-agree { color:#343434; font-size:13px; }
  .wrap-signup .check-agree input { width:11px; height:11px; vertical-align:middle;  }
  .checkbox label { font-size:13px; }
  .wrap-signup .copyright {  text-align:center; font-family: Arial; font-size:13px; color:#696969; }
  .wrap-signup .btn-upload { height:24px; width:auto; }
  .wrap-signup .checkbox { margin-right:10px; display:inline-block; min-width:50px; }

  .wrap-product-reg { padding:0px 20px 40px 20px; }
  .wrap-product-reg .top-btn {  padding:15px 0 13px 0; }
  .wrap-product-reg .title { margin-bottom:20px; }
  .wrap-product-reg .title h3 { font-size:14px; padding:0 0 3px 5px; }
  .wrap-product-reg h4 { padding:0 0 0 5px; font-size:12px; }
  .wrap-product-reg .select-category { padding:9px 0 10px 0; }
  .wrap-product-reg .wrap-select { margin-bottom:10px; }
  .wrap-product-reg .photo { margin-top:6px; padding-left:100px; min-height:90px;  }
  .wrap-product-reg .img { left:0; top:0; width:90px; height:90px; overflow: hidden; }
  .wrap-product-reg .img img { width:100%; height:100%; }
  .wrap-product-reg .edit { padding-top:8px;  }
  .wrap-product-reg .edit button { margin-bottom:10px; padding:0 10px; height:24px; line-height:24px; }
  .wrap-product-reg .edit button img { vertical-align:middle; margin-top:-3px; width:auto; height:15px; font-size:12px; }
  .wrap-product-reg .edit p { line-height:1.4; font-size:11px; }
  .wrap-product-reg .table { margin-bottom:20px; }
  .wrap-product-reg .table table { width:100%; border-collapse: collapse; border-spacing:0; }
  .wrap-product-reg .table th { padding:20px 5px 10px 5px; width:90px;  font-size:12px;}
  .wrap-product-reg .table td { padding:20px 0 10px 0; font-size:12px; }
  .wrap-product-reg .table td .input-txt { width:100%; height:30px; margin:-20px 0 -10px 0; border:0; font-size:12px; }
  .wrap-product-reg .input-textarea { width:100%; font-size:12px; }
  .wrap-product-reg .table td .product-state textarea { margin-top:10px; vertical-align: top; height:60px; }
  .wrap-product-reg .txtarea .input-textarea { margin-top:10px; padding:10px 0; height:80px; text-indent: 10px;}
  .wrap-product-reg .radio-label { margin-right:10px; }
  .wrap-product-reg .btns { width:100%; overflow:hidden; padding:10px 0 16px 0; }
  .wrap-product-reg .btns a { width:48.25%; height:34px; line-height:34px;  font-size:13px; }
  .wrap-product-reg .btn-modify { float:left; }
  .wrap-product-reg .btn-del { float:right;  }
  .wrap-product-reg .btn-add { display:block; text-align:center; height:52px; line-height:52px;font-size:18px;  }

}


/*-----------------------------------------
            @media - pc
-------------------------------------------*/
@media all and (min-width: 799px) {


  .wrap-product-detail { width:1110px; margin:0 auto; padding:34px 0 0 0; }
  .top-info { position:relative; margin-bottom:68px; overflow: hidden; }
  .top-info .img-top { float:left; }
  .top-info .info {float:right; width:490px; }

  .wrap-product-detail .detail-info { padding:90px 70px 115px 70px; margin:0 auto; }
  .wrap-product-detail .detail-info h3 { margin-bottom:39px; font-size:24px; border-bottom:3px solid #000 }
  .wrap-product-detail .detail-info .txt { margin-bottom:70px; line-height:2.4; font-size:21px; }
  .wrap-product-detail .detail-info .txt strong { color:#000; }
  .wrap-product-detail .detail-info .img img{ max-width:100%; }

  .wrap-product-detail .tab { height:63px; }
  .wrap-product-detail .tab a { float:left; height:57px; font-size:24px; line-height:57px; width:400px; }
  .wrap-product-detail .tab a.on { background:#fff; color:#000; border-color:#000; height:63px; }


  .wrap-product-detail .detail-top { padding-top:64px; }
  .wrap-product-detail .detail-top h3 { margin-bottom:12px;  font-size:16px; }
  .wrap-product-detail .detail-top .table {clear:both; }
  .wrap-product-detail .detail-top table { font-size:14px; }
  .wrap-product-detail .detail-top table th { width:118px; padding:7px 16px; font-weight:normal; color:#919191; text-align:left; background:#e4e4e4; border-bottom:1px solid #c6c6c6;  }
  .wrap-product-detail .detail-top table td { padding:8px 16px; }

  .wrap-product-detail .detail-top .like { margin-bottom:3px; font-size:18px; }
  .wrap-product-detail .detail-top .btn { position:relative; }

  .wrap-product-detail .detail-top .price { margin-bottom:65px; font-size:36px;}
  .wrap-product-detail .detail-top .name { margin-bottom:9px; line-height:1.4; font-size:36px; }

  .wrap-product-detail .detail-top .btns { padding-bottom:85px; }
  .wrap-product-detail .detail-top .btns:after { content:''; display:block; clear:both; }
  .wrap-product-detail .detail-top .btn a { float:left; width:158px; height:64px; line-height:64px; font-size:15px; }
  .wrap-product-detail .detail-top .btn-del { margin:0 5px; }
  .wrap-product-detail .detail-top .layer-state { width:450px; padding:10px 20px; font-size:12px; top:77px;  }
  .wrap-product-detail .detail-top .layer-state .arrow {right:73px; top:-6px;  width:18px; height:6px;}

  .wrap-signup { padding:130px 0 500px 0; width:654px; }
  .wrap-signup h2 { margin-bottom:108px }
  .wrap-signup th { width:196px; padding:20px 7px; font-size:21px; }
  .wrap-signup td { padding:20px 10px; }
  .wrap-signup .btn-submit { margin-top:70px; height:124px; line-height:124px; font-size:36px; }
  .wrap-signup .input-txt { position:relative; min-height:62px; margin:-20px 0}
  .wrap-signup .input-txt input { height:60px; line-height:60px; font-size:21px; }
  .wrap-signup .input-txt .msg { display:block; font-size:11px; line-height:18px; margin-top:-18px; }
  .wrap-signup .input-text { height:41px; line-height:41px; font-size:21px; width:106px; }
  .wrap-signup .txt-address span { display:inline-block; margin-right:5px; }
  .wrap-signup .input-text-adress { margin-top:17px; }
  .wrap-signup .txt-agree { padding:20px 0; text-align:center; font-size:21px; letter-spacing:-1px; word-spacing: -1px;}
  .wrap-signup select { text-indent:10px; font-size:21px; }
  .wrap-signup .select-s { width:108px; height:43px; line-height:43px; vertical-align: middle; }
  .wrap-signup .check-agree { color:#343434; font-size:21px; }
  .wrap-signup .check-agree input { width:18px; height:18px; vertical-align:middle;  }
  .wrap-signup .input-txt-account input { float:left !important; width:50%  !important; }
  .wrap-signup .input-txt-account .msg { float:left; margin:0; width:50%; font-size:21px !important; line-height:60px; }
  .checkbox { margin-right:20px; display:inline-block; min-width:90px; }
  .checkbox label { font-size:21px; }
  .wrap-signup .copyright { display:none; }


  .wrap-product-reg { width:800px; margin:0 auto; padding:60px 0; }
  .wrap-product-reg .top-btn { display:none; }
  .wrap-product-reg .title { margin-bottom:35px; }
  .wrap-product-reg .title h3 { font-size:36px; padding:0 0 10px 14px;  }
  .wrap-product-reg h4 { padding:0 0 0 14px; font-size:21px; color:#343434;  }
  .wrap-product-reg .select-category { overflow:hidden; margin:0 -7px; padding:20px 0 37px 0; }
  .wrap-product-reg .wrap-select { float:left; width:257px; margin:0 7px; }
  .wrap-product-reg .photo { margin:24px 0; padding-left:268px; min-height:211px;  }
  .wrap-product-reg .img { left:0; top:0; width:207px; height:211px; overflow: hidden; }
  .wrap-product-reg .img img { width:100%; height:100%; }
  .wrap-product-reg .edit { padding-top:26px;  }
  .wrap-product-reg .edit button { margin-bottom:10px; padding:0 20px; height:39px; line-height:39px; }
  .wrap-product-reg .edit button img { vertical-align:middle; margin-top:-5px; }
  .wrap-product-reg .edit p { line-height:1.6; font-size:16px; }
  .wrap-product-reg .table { margin-bottom:60px; }
  .wrap-product-reg .table table { width:100%; border-collapse: collapse; border-spacing:0; }
  .wrap-product-reg .table th { padding:30px 15px 30px 15px; width:186px;  font-size:21px;}
  .wrap-product-reg .table td { padding:19px 0; font-size:21px; }
  .wrap-product-reg .table td .input-txt { width:100%; height:77px; margin:-30px 0; border:0; font-size:21px; }
  .wrap-product-reg .input-textarea { width:100%; }
  .wrap-product-reg .table td .product-state textarea { margin-top:10px; vertical-align: top; height:90px; }
  .wrap-product-reg .txtarea .input-textarea { margin-top:20px; padding:10px 0; height:232px; text-indent: 20px;}
  .wrap-product-reg .input-radio { width:18px; height:18px; }
  .wrap-product-reg .radio-label { margin-right:20px; }
  .wrap-product-reg .btns { width:100%; overflow:hidden; margin:53px 0 27px 0;  }
  .wrap-product-reg .btns a { width:392px; height:88px; line-height:88px;  font-size:30px; }
  .wrap-product-reg .btn-modify { float:left; }
  .wrap-product-reg .btn-del { float:right;  }
  .wrap-product-reg .btn-add { display:block; text-align:center; height:124px; line-height:124px;font-size:49px;  }


}
