
<style>
	.passcode-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.passcode-container input {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  text-align: center;
  font-size: 20px;
}
</style>

<h3>비밀번호를 입력해 주세요</h3>
<h3>비밀번호를 잊었나요?</h3>

<div class="passcode-container">
  <input type="password" maxlength="1" id="digit1" oninput="moveToNext(this)">
  <input type="password" maxlength="1" id="digit2" oninput="moveToNext(this)">
  <input type="password" maxlength="1" id="digit3" oninput="moveToNext(this)">
  <input type="password" maxlength="1" id="digit4" oninput="moveToNext(this)">
  <input type="password" maxlength="1" id="digit5" oninput="moveToNext(this)">
  <input type="password" maxlength="1" id="digit6" oninput="moveToNextPage(this)">
</div>

<script>
	function moveToNext(input) {
  var nextInput = input.nextElementSibling;
  if (input.value && nextInput) {
    nextInput.focus();
  }
}

	function moveToNextPage(input) {

		window.location.href = "/finish/{{coin}}/{{amount}}"
  }
</script>